* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, input, textarea, button {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1, h2 {
  letter-spacing: -1px;
}

a {
  color: #fff;
  text-decoration: none;
}

.header {
  background-image: url("../assets/background.svg");
  width: 100%;
  height: 37.9rem;
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}
.header .header-wrapper {
  padding: 5.5rem 3.2rem;
  color: white;
}
.header .header-wrapper h1 {
  font-size: 3.5rem;
  margin-bottom: 6rem;
}
.header .header-wrapper h2 {
  font-size: 3rem;
}

.login {
  margin-top: 2.3rem;
  padding: 0 3.2rem;
}
.login .form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.3rem;
}
.login .form-wrapper .input-wrapper {
  position: relative;
  width: 100%;
}
.login .form-wrapper .input-wrapper .input-icon {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  color: #454343;
  margin-left: 2.5rem;
}
.login .form-wrapper .input-wrapper input {
  width: 100%;
  height: 6rem;
  border-radius: 3.5rem;
  border: 1px solid #454343;
  padding: 2.5rem;
  display: flex;
  align-items: center;
  padding-left: 6rem;
  color: #454343;
  font-size: 1.5rem;
  font-weight: 500;
}
.login .form-wrapper .input-wrapper input::-moz-placeholder {
  color: #454343;
  font-size: 1.5rem;
  font-weight: 500;
}
.login .form-wrapper .input-wrapper input:-ms-input-placeholder {
  color: #454343;
  font-size: 1.5rem;
  font-weight: 500;
}
.login .form-wrapper .input-wrapper input::placeholder {
  color: #454343;
  font-size: 1.5rem;
  font-weight: 500;
}
.login .form-wrapper input:focus {
  outline-color: #DF0CE3;
}
.login .form-wrapper input:focus ~ svg.input-icon {
  color: #DF0CE3;
}
.login .forgot {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}
.login .forgot a {
  color: #666363;
  font-size: 1.5rem;
}

.btn-login {
  width: 100%;
  height: 6.4rem;
  border-radius: 35px;
  border: none;
  background-image: linear-gradient(142.78deg, #DF0CE3 0%, rgba(43, 10, 113, 0.59) 129.86%);
  font-size: 3rem;
  color: #fff;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 2.5rem;
  transition: background 1s linear;
  cursor: pointer;
}
.btn-login::after {
  content: "Login";
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-image: linear-gradient(142.78deg, rgba(43, 10, 113, 0.59) 0, #DF0CE3 129.86%);
  opacity: 0;
  transition: all 0.5s linear;
  border-radius: 35px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-login:hover::after {
  opacity: 1;
  box-shadow: 0 0 5px rgba(43, 10, 113, 0.59);
}

.create-account {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #454343;
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 2.5rem;
  padding: 0 3.2rem;
}
.create-account a {
  color: #DF0CE3;
}

.social-login {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
.social-login .wrapper-or {
  padding: 0 7rem;
  color: rgba(69, 67, 67, 0.56);
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 60px 1fr;
}
.social-login .wrapper-or .wrapper-line {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-login .wrapper-or .wrapper-line .line {
  width: 100%;
  height: 1px;
  background-color: rgba(69, 67, 67, 0.56);
}

.wrapper-btn-social {
  margin-top: 1.2rem;
  padding: 0 3.2rem;
  color: #fff;
  width: 100%;
}
.wrapper-btn-social a {
  width: 100%;
  padding: 1rem;
  border-radius: 35px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.wrapper-btn-social a div {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 11rem;
}
.wrapper-btn-social .btn-social-icon {
  display: block;
}
.wrapper-btn-social .btn-facebook {
  background-color: #0074E9;
  margin-bottom: 1rem;
}
.wrapper-btn-social .btn-github {
  background-color: #000;
}/*# sourceMappingURL=main.css.map */